%form-controls {
  border-radius: 20px;
  border: 1px solid $main-borderColor;
  color: $main-tColor;
  font-size: 20px;
  line-height: 25px;
  font-family: $ff-Text;
  background-color: $component-bgColor;
  backdrop-filter: blur(31px);
}


