* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

fieldset {
  border: 0 none;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* neucha-regular - latin_cyrillic */
@font-face {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/neucha-v12-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/neucha-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/neucha-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../assets/fonts/neucha-v12-latin_cyrillic-regular.woff") format("woff"), url("../assets/fonts/neucha-v12-latin_cyrillic-regular.ttf") format("truetype"), url("../assets/fonts/neucha-v12-latin_cyrillic-regular.svg#Neucha") format("svg");
  /* Legacy iOS */
}

/* Webfont: Steppe-Regular */
@font-face {
  font-family: "Steppe";
  src: url("../assets/fonts/Steppe.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/Steppe.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Steppe.woff") format("woff"), url("../assets/fonts/Steppe.ttf") format("truetype"), url("../assets/fonts/Steppe.woff2") format("woff2"), url("../assets/fonts/Steppe.otf") format("opentype");
  /* Safari, Android, iOS */
  font-style: normal;
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.content {
  background-color: #192F2D;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #192F2D;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.controls {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.cards {
  width: 75%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}

.controls__block {
  width: 90%;
  border-radius: 15px;
}

.filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__title {
  margin-right: 20px;
  color: #ffffff;
  font-family: "Neucha";
  line-height: 64px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__item {
  width: 64px;
  height: 64px;
}

.filter__item img {
  width: 100%;
  height: 100%;
}

.filter__color {
  width: 90%;
  height: 90%;
  border: 2px solid radial-gradient(104.22% 230.94% at -4.22% 0%, #24c5db 3.62%, rgba(36, 197, 219, 0.26) 55.1%), radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%);
  border-radius: 5px;
}

.filter__color.white {
  background-color: #ffffff;
}

.filter__color.yellow {
  background-color: #fdd700;
}

.filter__color.red {
  background-color: #FD0000;
}

.filter__color.blue {
  background-color: #2299EB;
}

.filter__color.green {
  background-color: #08AA05;
}

.card-of-toy {
  height: 342px;
  width: 222px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  font-family: "Steppe";
  font-size: 14px;
  line-height: 16px;
  background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(179, 246, 255, 0.5) 100%);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

.card-of-toy__title {
  font-family: "Neucha";
  font-size: 28px;
  line-height: 32px;
}

.card-of-toy__propList {
  margin-bottom: 0;
}

.card-of-toy__propList > li {
  margin-top: 6px;
}

.card-of-toy__img {
  display: block;
  margin: 0 auto;
  height: 106px;
  width: auto;
}

.favorite {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 35px;
  top: 65px;
  opacity: 0;
  -webkit-transform: rotateX(20deg);
          transform: rotateX(20deg);
  -webkit-filter: brightness(0) saturate(100%) invert(58%) sepia(36%) saturate(764%) hue-rotate(6deg) brightness(118%) contrast(92%);
          filter: brightness(0) saturate(100%) invert(58%) sepia(36%) saturate(764%) hue-rotate(6deg) brightness(118%) contrast(92%);
}

.favorite.starred {
  opacity: 1;
}

.header {
  height: 70px;
  padding: 10px 0;
  background-color: #192F2D;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu {
  width: 450px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  font-family: "Neucha";
  font-size: 32px;
  height: 50px;
}

.nav__link {
  color: #ffffff;
  line-height: 50px;
}

.nav__img {
  height: 50px;
  width: auto;
}

.search {
  padding: 5px 55px 5px 15px;
  position: relative;
  height: 32px;
  width: 380px;
  outline: 0;
  color: #ffffff;
  font-family: "Steppe";
  font-size: 24px;
  border: 2px solid;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  background: url("../assets/svg/search.svg");
  background-repeat: no-repeat;
  background-position: 350px;
  background-size: 5%;
  outline: none;
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  border: 1px solid;
  border-image-source: radial-gradient(104.22% 230.94% at -4.22% 0%, #24c5db 3.62%, rgba(36, 197, 219, 0.26) 55.1%), radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%);
  border-radius: 30px;
}

.toy-counter {
  margin-left: 24px;
  width: 48px;
  height: 60px;
  background-image: url("../assets/svg/ball-2.svg");
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.toy-counter__number {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Steppe";
  background-color: #278d9f;
}

.footer {
  height: 70px;
  background-color: #192F2D;
  padding: 10px 0;
  margin-bottom: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  color: #ffffff;
}

.author {
  font-family: "Steppe";
}

.rss-logo {
  height: 50px;
  width: auto;
}

.rss-logo img {
  height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: url("../assets/bg1.png") center center/cover no-repeat;
}

.main__wrapper {
  position: relative;
  padding: 200px 0;
  margin: 0 auto;
  width: 593px;
  height: 249px;
}

.invitation {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 66px 85px;
  width: 593px;
  height: 249px;
  color: #ffffff;
  font-size: 53px;
  font-family: "Neucha";
  text-transform: uppercase;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  border-radius: 30px;
  border: 2px solid;
  border-image-source: radial-gradient(104.22% 230.94% at -4.22% 0%, #24c5db 3.62%, rgba(36, 197, 219, 0.26) 55.1%), radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 250;
}

.btnStart {
  margin: 130px auto 0 auto;
  padding: 15px 120px;
  width: 320px;
  height: 54px;
  color: #ffffff;
  font-family: "Steppe";
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  border: 2px solid;
  border-image-source: radial-gradient(104.22% 230.94% at -4.22% 0%, #24c5db 3.62%, rgba(36, 197, 219, 0.26) 55.1%), radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%);
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  -webkit-backdrop-filter: blur(31px);
          backdrop-filter: blur(31px);
  border-radius: 30px;
  z-index: 50;
}

.ball {
  position: absolute;
}

.ball.ball1 {
  top: 70px;
  left: -300px;
  width: 418px;
  height: auto;
  z-index: 1;
}

.ball.ball2 {
  top: 600px;
  left: 600px;
  width: 246px;
  height: auto;
  z-index: 20;
}
