.filter {
  //height: 35px;
  margin-bottom: 5px;
  width: 100%;


  &__title {
    margin-right: 20px;
    width: 85px;
    color: $main-tColor;
    font-family: $ff-Text;
    line-height: 50px;
  }

  &__list {
    flex-wrap: wrap;
  }

  &__item {
    margin: 0;
    width: 30px;
    height: 30px;
    position: relative;
    border: 2px solid rgba(157, 243, 255, 0);
    border-radius: 5px;

    &.range{
      margin: 0 auto;
      height: 100%;
      width: 90%;
      &:not(:first-child){
        margin-top: 60px;
      }
    }


    &.active {
      border: 2px solid rgba(157, 243, 255, 0.2);

      &:hover {
        border: 2px solid rgba(157, 243, 255, 0.5);
      }
    }

    & img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 90%;
      height: 90%;
      transform: translate(-50%, -50%);
    }

    &.large img {
      width: 35px;
      height: auto;
    }

    &.middle img {
      width: 30px;
      height: auto;
    }

    &.small img {
      width: 28px;
      height: auto;
    }
  }

  &__color {
    margin: 5% auto;
    width: 90%;
    height: 90%;
    border: 2px solid rgba(157, 243, 255, 0);
    border-radius: 5px;

    &:hover {
      transform: scale(1.3);
      //border: 3px solid #1e5a5a;
      //border: 10px;
    }

    &.active {
      border: 3px solid rgba(30, 90, 90, 1);
    }

    &.white {
      background-color: #ffffff;
    }

    &.yellow {
      background-color: #fdd700;
    }

    &.red {
      background-color: #fd0000;
    }

    &.blue {
      background-color: #2299eb;
    }

    &.green {
      background-color: #08aa05;
    }
  }

  &__wrapper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#favorite-only {
  position: absolute;
  left: 27%;
  top: 33%;
  transform: translate(-50%, -50%) scale(2);
  margin: 0;
}

.reset {
  @extend %form-controls;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  cursor: pointer;
}

.shapes, .colors, .sizes{
  justify-content: flex-end;
}

.sorting {
  @extend %form-controls;
  height: 20px;
  font-size: 16px;
}

.slider {
  width: 100%;

  &__controls{
    width: 100%;
    margin-top: 15px;
  }

  &__input{
    width: 40px;
    flex: 0 0 40px;
    color: $main-tColor;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
  }

  &.slider-round {
    height: 10px;

    & .noUi-handle {
      height: 18px;
      width: 18px;
      top: -5px;
      right: -9px; /* half the width */
      border-radius: 9px;
    }
  }

  &.slider-styled {
    & .noUi-handle {

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 8px;
  right: -10px;
  top: -6px;
}

//TODO fix icon's behaviour on small resolutions. Maybe fix container width is needed.
