
.filter {
  height: 35px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap:wrap;

  &__title {
    margin-right: 20px;
    width: 85px;
    color: $main-tColor;
    font-family: $ff-Text;
    line-height: 50px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0;
    width: 30px;
    height: 30px;
    position: relative;
    border: 2px solid rgba(157, 243, 255, 0);
    border-radius: 5px;
    &.active {
      border: 2px solid rgba(157, 243, 255, 0.2);
      &:hover {
        border: 2px solid rgba(157, 243, 255, 0.5);
        // filter: brightness(0) saturate(100%) invert(66%) sepia(94%) saturate(400%) hue-rotate(345deg) brightness(100%)
        //   contrast(103%);
      }
    }
    & img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 90%;
      height: 90%;
      transform: translate(-50%, -50%);
    }
    &.large img {
      width: 35px;
      height: auto;
    }
    &.middle img {
      width: 30px;
      height: auto;
    }
    &.small img {
      width: 28px;
      height: auto;
    }
  }

  &__color {
    margin: 5% auto;
    width: 90%;
    height: 90%;
    border: 2px solid rgba(157, 243, 255, 0);
    border-radius: 5px;
    &:hover {
      border: 3px solid;
      border: 0, 0, 10px, #1e5a5a;
    }
    &.active {
      border: 3px solid rgba(30, 90, 90, 1);
    }
    &.white {
      background-color: #ffffff;
    }
    &.yellow {
      background-color: #fdd700;
    }
    &.red {
      background-color: #fd0000;
    }
    &.blue {
      background-color: #2299eb;
    }
    &.green {
      background-color: #08aa05;
    }
  }
}

#favorite-only {
  position: absolute;
  left: 27%;
  top: 33%;
  transform: translate(-50%, -50%);
  transform: scale(2);
  margin: 0;
}

.reset {
  @extend %form-controls;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  cursor: pointer;
}

.sorting {
  @extend %form-controls;
  height: 20px;
  font-size: 16px;
}

//TODO fix icon's behaviour on small resolutions. Maybe fix container width is needed.
